.idea
.vscode
.env
HELP.md
target/
dockerrelated/
mvnw
application-dev.properties
mvnw.cmd
frontend/
src/main/resources/application-dev.properties
dockerrelated/.dockerignore
dockerrelated/Dockerfile

